{{> header}}

<div class="row">
  <div class="col-md-4">
    <form action="/livros/{{ livro._id }}?_method=DELETE" method="POST">
      <div class="form-group">
        <label for="isbn">ISBN</label>
        <div class="well well-sm">{{ livro.isbn }}</div>
      </div>
      <div class="form-group">
        <label for="titulo">Título</label>
        <div class="well well-sm">{{ livro.titulo }}</div>
      </div>
      <div class="form-group">
        <label for="edicao">Edição</label>
        <div class="well well-sm">{{ livro.edicao }}</div>
      </div>
      <div class="form-group">
        <button class="btn btn-danger">Deletar</button>
      </div>
    </form>
  </div>
</div>

{{> footer}}