{{> header}}

<!-- views/livros/index.hbs -->
<h1>Livros</h1>
<hr>
<a href="/livros/novo" class="btn btn-primary">Cadastrar</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Título</th>
      <th>Edição</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    {{#each livros }}
    <tr>
      <td>{{ isbn }}</td>
      <td>{{ titulo }}</td>
      <td>{{ edicao }}</td>
      <td><a href="/livros/{{ _id }}/delete" class="btn btn-danger">&times;</a></td>
    </tr>
    {{/each }}
  </tbody>
</table>

{{> footer }}